@using BlazorApp.Models
@using Microsoft.EntityFrameworkCore
@inject BlazorAppDbContext context

@page "/"

<PageTitle>Home</PageTitle>

<div class="container main-home">
    <div class="row d-flex justify-content-center">
        <RadzenCard class="main-card" Style="width:60%; height:40%; background-color:aliceblue">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" Gap="1rem">
                <RadzenText TextStyle="TextStyle.H3" TextAlign="TextAlign.Center" class="color-title">Welcome</RadzenText>
                <RadzenStack Gap="1rem">
                    <div class="rz-p-12">
                        <RadzenText TextAlign="TextAlign.Center">This is a Blazor WebAssembly app that uses Entity Framework Core to display data from a Lego database.</RadzenText>
                    </div>
                </RadzenStack>
                <RadzenCard Style="min-height:200px; background-color:antiquewhite">
                    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                        <RadzenImage Path="images/legoabbeyroad.jpg" Style="width:100%; height:100%;"></RadzenImage>
                    </RadzenStack>
                </RadzenCard>
            </RadzenStack>
        </RadzenCard>
    </div>
</div>

@code {
    private int totalSets;

    protected override async Task OnInitializedAsync()
    {
        totalSets = await context.Sets.CountAsync();
    }
}

